<div class="wrapper">
    <ul class="message-list" #scrollMe>
        <li *ngFor="let message of messages" class="box3 sb14" [ngStyle]="{'color': message.color}">
            <span class="user-name">{{ message.sender }}: </span>
            <span class="message">{{ message.message }}</span>
        </li>
    </ul>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="input-group">
            <input
            type="text"
            class="custom-input"
            formControlName="message"
            placeholder="message"
            required
            />
            <div class="input-group-append">
            <button
                type="submit"
                [disabled]="inputForm.pristine || inputForm.invalid"
                class="btn btn-outline-secondary"
            >
                Send
            </button>
            </div>
        </div>
    </form>
    <aside>
        <ul class="list-group" *ngIf="userList.length">
            <li
            *ngFor="let user of userList"
            class="list-group-item"
            [ngStyle]="{'color': user.color}"
            >
            {{ user.username }}
            </li>
        </ul>
    </aside>
</div>