<ul class="message-list">
    <li *ngFor="let message of messages" class="message-list-item">
        <span class="time">{{ message.timestamp | date: "hh:mm:ss" }}</span>
        <span class="user-name">{{ message.userName }}</span>
        <span class="message">{{ message.text }}</span>
    </li>
</ul>
<form [formGroup]="inputForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="input-group">
        <input
        type="text"
        class="form-control"
        formControlName="message"
        placeholder="message"
        required
        #text
        />
        <div class="input-group-append">
        <button
            type="submit"
            [disabled]="inputForm.pristine || inputForm.invalid"
            class="btn btn-outline-secondary"
        >
            Send
        </button>
        </div>
    </div>
</form>
<aside>
    <ul class="list-group" *ngIf="userList.length">
        <li
          *ngFor="let user of userList"
          class="list-group-item"
          [class.active]="user.isCurrent"
          title="Click twice to select"
        >
          {{ user.name }}
        </li>
    </ul>
</aside>
